@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


:root {

  --dark-cyan:hsl(185, 75%, 39%);
  --very-dark-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);

 
}

*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Kumbh Sans', sans-serif;
  color:var(--very-dark-blue)
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg) , hsl(185, 75%, 39%);
  background-position: -61% 215%, 142% -130%;
  background-repeat: no-repeat;
  height: 100vh;
   
}

main {
width:350px;
height:390px;
background-color: #fff;
border-radius: 20px;
overflow: hidden;

}

.cart-top {
  background-image: url('./images/bg-pattern-card.svg');
  height:145px;
  position: relative;
  background-position: center center;
}

.profile-img {
  position:absolute;
  border-radius: 50%;
  background-image: url('./images/image-victor.jpg');
  width: 105px;
  height:105px;
  left: 50%;
  border:6px solid #fff;
  top: 95px;
  transform: translateX(-50%);
  background-size: contain;
}

.cart-bottom {
 
}
.desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  
  margin-top: 4.5rem;
}
.desc-name {
  display: flex;
}

.user-name {
  font-weight: 700;
  margin-right: .8rem;
  
}
#age{
  color:var(--dark-grayish-blue);
}

#city {
  color:var(--dark-grayish-blue);
  font-size: 14px;
  margin-top: .7rem;

}

.fans {
  border-top: 1px solid rgb(231, 231, 231);
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}
.fans-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1.5rem;
  color: var(--very-dark-blue);
  font-weight: 700;
  letter-spacing: 1px;
  
}

.fan {
  font-size: 11px;
  margin-top: .4rem;
  font-weight: normal;
}